<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Spring Java Back-End Final Project</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
</head>
<body>
	<nav>
		<div>
			<a th:href="@{/}"><b>Home</b></a>
		</div>
		<div>
			<a th:href="@{/posts}"><b>View Posts</b></a>
		</div>
		<div>
			<a th:href="@{/register}">Register</a>
		</div>
		<div>
			<a th:href="@{/login}">Login</a>
		</div>
	</nav>
	<h1>Congratulations!</h1>
	<p>This is your Secure User Page.</p>
	<ul>
		<li>You can only access this page when you login.</li>

		<li>You can now post a
			message or delete a message.</li>
			
		<li>Enjoy!</li>
	</ul>
